@use "variables" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(237, 241, 250);
  color: white;
  font-family: $primary-font-family;
  font-size: 0.9rem;
}

#app {
  background-image: url("public/sunshine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //background-color: $primary-color;
  padding-bottom: 2rem;
  min-height: calc(100vh - 2rem);

  @include tabletAndMore() {
    max-width: 28rem;
    min-height: calc(100vh - 3rem);
    margin: 0.5rem auto;
    border-radius: $border-radius;
    box-shadow: 0.5px 3px 8px rgba(23, 23, 23, 0.42);
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navbar,
.dashboard__favorites-list {
  @include boxContainer();
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard__input {
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  width: calc(90% - 2rem);
  margin: 0 auto;
  font-size: 1.5rem;

  &::placeholder {
    color: rgb(111, 111, 111);
    font-size: 1rem;
  }
}

.dashboard__favorites-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.favorite-place {
  background: url("public/starry_sky.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  border-radius: $border-radius;
  height: 7rem;
  display: flex;
  justify-content: space-between;

  &__location-and-status,
  &__temperatures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__location {
    font-size: 1.5rem;
  }

  &__current-temperature {
    text-align: right;
    font-size: 2.5rem;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;

  &__arrow,
  &__favorites {
    background-color: transparent;
    border: none;
  }

  &__arrow-icon,
  &__favorites-icon {
    stroke: white;
    height: 2rem;
  }
}

.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;

  &__location,
  &__current-status,
  &__current-temperature,
  &__temperatures {
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
  }

  &__current-status,
  &__temperatures {
    font-size: 1rem;
  }

  &__location {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__current-temperature {
    font-size: 4rem;
  }

  &__temperatures {
    display: flex;
    gap: 1rem;
  }
}

.todays-forecast {
  @include boxContainer();
  @include boxDesign();

  &__summary,
  &__hours {
    @include boxInnerContentMargin();
  }

  &__summary {
    @include boxHeading();
  }

  &__hours {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }
}

.hourly-forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.three-days-forecast {
  @include boxContainer();
  @include boxDesign();

  &__title,
  &__days {
    @include boxInnerContentMargin();
  }

  &__title {
    @include boxHeading();
  }

  &__days {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.daily-forecast {
  display: grid;
  grid-template-columns: 15% 10% 20% 20% 35%;
  align-items: center;

  &:not(:last-of-type) {
    border-bottom: $border-bottom;
    padding-bottom: 1rem;
  }
}

.weather-details {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.weather-detail {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  @include boxDesign();

  &__value {
    font-size: 1.5rem;
  }
}

.lds {
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  @include tabletAndMore() {
    height: calc(100vh - 3rem);
  }

  &__spinner,
  &__spinner div,
  &__spinner div:after {
    box-sizing: border-box;
  }
  &__spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  &__spinner div {
    animation: lds__spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  &__spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7.2px;
    height: 7.2px;
    border-radius: 50%;
    background: currentColor;
    margin: -3.6px 0 0 -3.6px;
  }
  &__spinner div:nth-child(1) {
    animation-delay: -0.036s;
  }
  &__spinner div:nth-child(1):after {
    top: 62.62742px;
    left: 62.62742px;
  }
  &__spinner div:nth-child(2) {
    animation-delay: -0.072s;
  }
  &__spinner div:nth-child(2):after {
    top: 67.71281px;
    left: 56px;
  }
  &__spinner div:nth-child(3) {
    animation-delay: -0.108s;
  }
  &__spinner div:nth-child(3):after {
    top: 70.90963px;
    left: 48.28221px;
  }
  &__spinner div:nth-child(4) {
    animation-delay: -0.144s;
  }
  &__spinner div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  &__spinner div:nth-child(5) {
    animation-delay: -0.18s;
  }
  &__spinner div:nth-child(5):after {
    top: 70.90963px;
    left: 31.71779px;
  }
  &__spinner div:nth-child(6) {
    animation-delay: -0.216s;
  }
  &__spinner div:nth-child(6):after {
    top: 67.71281px;
    left: 24px;
  }
  &__spinner div:nth-child(7) {
    animation-delay: -0.252s;
  }
  &__spinner div:nth-child(7):after {
    top: 62.62742px;
    left: 17.37258px;
  }
  &__spinner div:nth-child(8) {
    animation-delay: -0.288s;
  }
  &__spinner div:nth-child(8):after {
    top: 56px;
    left: 12.28719px;
  }
}

@keyframes lds__spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
